---
import { FaQLeft } from "./FaQLeft.tsx";
import { FaQRight } from "./FaQRight";

import { Card, CardContent, CardHeader, CardTitle } from "@/components/ui/card";
---

<div class="motion-safe:slide-up my-48 scroll-mt-24 [grid-column:_content]" id="FaQSection">
    <h3 class="scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl">Frequently asked Questions</h3>
    <div class="mt-12 grid gap-8 md:grid-cols-2">
        <Card>
            <CardHeader>
                <CardTitle>About Us</CardTitle>
            </CardHeader>
            <CardContent><FaQLeft client:load /></CardContent>
        </Card>

        <Card>
            <CardHeader>
                <CardTitle>Application</CardTitle>
            </CardHeader>
            <CardContent><FaQRight client:load /></CardContent>
        </Card>
    </div>
</div>
