---
import { Button } from "@/components/ui/button";
import { ModeToggle } from "@/components/ModeToggle";
---

<div
    class="grid h-[100svh] w-full grid-cols-[var(--grid-sides)_1fr_var(--grid-sides)] gap-2 py-8 [grid-column:_content] lg:p-12 lg:[--grid-sides:_8rem] xl:p-24 xl:[--grid-sides:_12rem]"
>
    <span class="font-semibold max-lg:self-end">SmartCook</span>
    <br />
    <div class="justify-self-end max-lg:self-end">
        <ModeToggle client:load />
    </div>

    <div
        class="relative self-center max-lg:col-span-3 max-lg:justify-self-center"
    >
        <div
            class="left-0 top-1/2 flex lg:absolute lg:-translate-y-1/2 lg:rotate-180 lg:[writing-mode:_vertical-lr] [&>a:not(:last-child)]:flex [&>a:not(:last-child)]:items-center [&>a:not(:last-child)]:whitespace-nowrap [&>a:not(:last-child)]:after:my-4 [&>a:not(:last-child)]:after:block [&>a:not(:last-child)]:after:aspect-square [&>a:not(:last-child)]:after:h-1.5 [&>a:not(:last-child)]:after:rounded-full [&>a:not(:last-child)]:after:bg-primary [&>a:not(:last-child)]:after:content-['']"
        >
            <a href=""
                ><Button
                    variant="link"
                    className="[text-underline-position:_left] hover:underline"
                >
                    hello
                </Button></a
            >
            <a href=""
                ><Button
                    variant="link"
                    className="[text-underline-position:_left] hover:underline"
                >
                    hello
                </Button></a
            >
            <a href=""
                ><Button
                    variant="link"
                    className="[text-underline-position:_left] hover:underline"
                >
                    hello
                </Button></a
            >
        </div>
    </div>
    <div class="self-start justify-self-center text-center max-lg:col-span-3">
        <h1
            class="mb-4 text-5xl font-bold text-primary md:text-7xl lg:text-9xl"
        >
            Smartcook
        </h1>
        <h2 class="mb-2 max-w-[80ch] text-xl font-semibold lg:text-3xl">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. A nostrum
            eius non obcaecati asperiores sequi.
        </h2>
        <p class="max-w-[80ch] text-muted-foreground max-lg:text-sm">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti
            architecto accusantium cupiditate impedit commodi odio libero earum,
            voluptatem omnis ducimus amet labore pariatur quaerat ut, veniam
            deleniti repudiandae fugit harum!
        </p>
        <div class="mt-4 flex justify-center gap-4">
            <Button>primary</Button>
            <Button variant="secondary">secondary</Button>
        </div>
    </div>
    <div
        class="relative h-fit self-center justify-self-end max-lg:col-span-3 max-lg:justify-self-center"
    >
        <Button
            variant="link"
            className="right-0 top-1/2 whitespace-nowrap [text-underline-position:_left] hover:underline lg:absolute lg:-translate-y-1/2 lg:rotate-180 lg:[writing-mode:_vertical-lr]"
        >
            Lets talk
        </Button>
    </div>
    <span
        class="max-w-[16ch] self-end text-muted-foreground max-lg:col-span-3 max-lg:justify-self-center max-lg:text-center"
        >We care about our custommers</span
    >
    <p class="self-end justify-self-center text-center max-lg:col-span-3">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae fugit
        placeat debitis voluptatem voluptatum. Voluptatem.
    </p>
    <a
        href="#"
        class="self-end justify-self-end max-lg:col-span-3 max-lg:justify-self-center"
        ><Button variant="link" className="text-muted-foreground">
            #Link
        </Button></a
    >
</div>
