<div class="relative h-0 w-full overflow-x-clip [grid-column:_page]">
    <div
        class="absolute left-0 top-0 -z-50 aspect-square w-1/2 -translate-x-1/2 bg-secondary-foreground/50 blur-[50rem]"
    >
    </div>
</div>
