<div class="relative h-10 w-full overflow-x-clip [grid-column:_page]">
    <div
        class="absolute right-0 top-0 -z-50 aspect-square w-1/2 translate-x-1/2 bg-secondary blur-[50rem]"
    >
    </div>
</div>
